@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot your password?";
    Layout = "_AuthLayout";
}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block p-0">
                    <img src="~/img/login-image.jpg" alt="Login Image" class="img-fluid h-100 w-100">
                </div>
                <div class="col-lg-7 mt-5 pt-1">
                    <div class="p-5 content">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Enter Your Email</h1>
                        </div>
                            <form method="post">
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Enter Email Address"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Reset Password</button>
                        </form>
                        <hr/>
                        <div class="text-center">
                            <a class="small" id="forgot-password" asp-page="./Login">Click Here To Login</a>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<style>
    .content {
        margin-top: 70px;
    }
    .container {
        max-width: 1100px;
    }
    .card {
        height: 600px
    }
    .form-control-user {
        font-size: 1rem;
        border-radius: 10rem;
        padding: 1.5rem 1rem;
    }
    .btn-user {
        font-size: 0.8rem;
        border-radius: 10rem;
        padding: 1rem 1rem;
    }
     .img-fluid {
            object-fit: cover;
        }
</style>

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}