@page
@using Cores.Utilities
@model ResetPasswordModel

@{
    ViewData["Title"] = "Reset password";
    Layout = Model.Input.IsAdminOrHr ? "_Layout" : "_AuthLayout";
}

@if (!Model.Input.IsAdminOrHr)
{
    <div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block p-0">
                    <img src="~/img/login-image.jpg" alt="Login Image" class="img-fluid h-100 w-100">
                </div>
                <div class="col-lg-7">
                    <div class="p-5 content">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Welcome!</h1>
                        </div>
                        <form method="post">
                                
                            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                            <input asp-for="Input.Code" type="hidden"/>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Enter Email Address"/>
                                <span asp-validation-for="Input.Email" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.Password" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Enter your password."/>
                                <span asp-validation-for="Input.Password" class="text-danger"></span>
                            </div>
                            <div class="form-floating mb-3">
                                <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Confirm your password."/>
                                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                            </div>
                            <button type="submit" class="btn btn-primary btn-user btn-block">Reset</button>
                        </form>

                        <hr/>
                        <div class="text-center">
                            <a class="small" id="forgot-password" asp-page="./Login">Click Here To Login</a>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

    <style>
    .content {
        margin-top: 70px;
    }
    .container {
        max-width: 1100px;
    }
    .card {
        height: 600px
    }
    .form-control-user {
        font-size: 1rem;
        border-radius: 10rem;
        padding: 1.5rem 1rem;
    }
    .btn-user {
        font-size: 0.8rem;
        border-radius: 10rem;
        padding: 1rem 1rem;
    }
     .img-fluid {
            object-fit: cover;
        }
</style>
}
else 
{
    <form method="post">
            <h2 class="mb-2 text-gray-800">Reset Password</h2>
            <div class="row">
                <div class="col-lg-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <input asp-for="Input.Code" type="hidden" />
                    <input asp-for="Input.IsAdminOrHr" type="hidden"/>
                    <div class="form-group">
                        <label asp-for="Input.Email" class="text-gray-800"></label>
                        <input asp-for="Input.Email" class="form-control form-control-user" autocomplete="username" aria-required="true" placeholder="Enter Email Address" readonly/>
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password" class="text-gray-800"></label>
                        <input asp-for="Input.Password" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Enter your password."/>
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.ConfirmPassword" class="text-gray-800"></label>
                        <input asp-for="Input.ConfirmPassword" class="form-control form-control-user" autocomplete="new-password" aria-required="true" placeholder="Confirm your password."/>
                        <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <a asp-area="Admin" asp-controller="Employee" asp-action="Index"
                       class="btn btn-dark mt-5">
                        <i class="fas fa-arrow-left"></i> Back
                    </a>
                    <button type="submit" class="btn btn-success ml-2 mt-5">
                        <i class="fas fa-solid fa-check"></i> Reset Password
                    </button>
                </div>
            </div>
        </form>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial"/>
}
